<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">

  <div id="content">
    <div class="container-fluid" template="homepage" id="root">
      <!-- sidebar nav is static, and common to all -->
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"> Family </li>
              <li>
                <a class="sidenav-selected" id="sidenav-parents"> Parents</a> 
              </li>
              <li>
                <a id="sidenav-children"> Children</a> 
              </li>

              <li class="nav-header"> Learning </li>
              <li>
                <a id="sidenav-courses"> Courses </a>
              </li>
              <li>
                <a id="sidenav-lectures"> Lectures </a>
              </li>
              
              <li class="nav-header"> Practice </li>
              <li> 
                <a id="sidenav-homeworks"> Homeworks </a> 
              </li>
              <li>
                <a id="sidenav-assignments"> Assignments </a>
              </li>
              
              <li class="nav-header"> Social </li>
              <li> 
                <a id="sidenav-topquestions">Top Questions </a>
              </li>
              <li> 
                <a id="sidenav-topanswers"> Top Answers </a>
              </li>
              <li> 
                <a id="sidenav-ask"> Ask Question </a>
              </li>
              <li>
                <a id="sidenav-answer"> Answer Question </a>
              </li>
              
              <li class="nav-header"> Time Line </li>
              <li> 
                <a id="sidenav-contributions"> Contributions </a>
              </li>
              <li> 
                <a id="sidenav-knowledges"> Knowledge </a>
              </li>
              <li> 
                <a id="sidenav-activities"> Activities </a>
              </li>
              <li> 
                <a id="sidenav-locations"> Locations </a>
              </li>
            </ul>
          </div> <!-- well sidebar-->
        </div> <!-- span 3 -->
       
        <div class="span9">
          <div class="leaderboard">
              <h1> Learn, Practice, Develop -- Together ! </h1>
              <h4> Hello Parents, this is the social learning management system for your kids !</h4>
          </div>

          <!-- top things, like reddit style -->
          <div class="topthings" field="content:topthings">
          </div>
          <!-- container for a list of top level nodes -->
          <div id="topthings"> </div>
        </div>  <!-- end of span9 -->
      </div> <!-- end of row fluid -->
    </div> <!-- end of container fluid -->


    <!-- top things list, a list of parents, courses, lectures, things -->
    <div class="offset0 thing link" template="thing" field="id:id">
      <p class="parent"></p>
      <span class="rank"> 1 </span>
      <div class="midcol unvoted">
        <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
        <div class="score unvoted"> 1234 </div>
        <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
      </div>
      
      <!-- no need to use template, maybe dom append by-idand more concise -->
      <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
        <img src="#" width="70" height="52" alt="">
      </a>

      <!-- no need to use template, maybe dom append by-idand more concise -->
      <div class="entry unvoted" template="thing-entry">
        <p class="title">
          <a class="title" field="content:thing-entry-title,href:entryhref"></a>
          <span class="domain"></span>
        </p>
        <p class="tagline">submitted to this subject by <a href="#">growingtree.com</a> </p>
        <ul class="flat-list buttons">
          <li class="first">
            <a class="comments" href="#">403 comments</a>
          </li>
          <li class="share">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </li>
          <li class="share">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          </li>
        </ul>
        <div class="child"></div>
        <div class="clearleft"></div>
      </div>
    </div>

    <!-- deprecated for test only -->
    <div class="offset0 row-top" template="toprow" field="id:id">
      <div class="gutter"></div>
      <div class="body">
        <div class="header">
          <span class="name" field="content:text">anonymous</span>
          <span class="time" field="content:time">10:23 PM</span>
        </div>
        <div class="content" field="content:text">
          Master cleanse vice bushwick lomo literally Austin.  Pour-over wayfarers brunch portland literally Austin.
        </div>
      </div>

      <ul id="offset4 sub-list">
        <li template="sublistentry" field="id:id">
          <div class="view">
            <input class="toggle" type="checkbox">
            <label field="content:text"></label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Datomic Rule the web">
        </li>
      </ul>
    </div>

    <!--
      # Whenever we add a new message, make sure to fire this:
      $('.chat-frame').scrollTop($('.chat-frame').height());
     -->
  </div>

</_within>
