<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">

  <div id="content">
    <div class='startup' id='root' template="course">
      <!-- Turned off until sample has members count feature
      <div class='members'>
        <p>
          <i class='users-icon'></i>
          3 Members
        </p>
      </div> -->
      <div class='container-fluid'>
        <div class='row-fluid'>
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header"> Course </li>
                <li> lectures </li>
                <li> homework </li>
                <li class="nav-header"> Parent </li>
                <li> children </li>
              </ul>
            </div> <!-- well -->
          </div> <!-- span 3 -->
         
          <div class="span9" template="lectures" field="id:id">
            <div class="leaderboard">
                <h1> Learn, Practice, Develop. </h1>
                <p> Hello Parents, this is the learning management for your kids</p>
            </div>

            <!-- first, div wrap content of lectures, then template for each lecture -->
            <div field="content:lectures">
              <div template="lectures" field="id:id">
                <span class='content' field="content:lecturename">anonymous</span> 
              </div>
            </div>
          </div>
        </div> <!-- end of row fluid -->
      </div> <!-- end of container fluid -->
      <!--
        # Whenever we add a new message, make sure to fire this:
        $('.chat-frame').scrollTop($('.chat-frame').height());
       -->
    </div>
  </div>

</_within>
