<!--
 The Pedestal application development tools provide a very simple
 system for composing documents. This partial will be included
 "within" the application.html file. The div with id "content" in that
 file will be replaced with the div with id "content" in this file.

 This feature is only part of the tool. It has nothing to do with the
 ClojureScript application that you are building.
-->
<_within file="application.html">

  <div id="content">
 
    <div template="homepage" class="homepage" field="id:id">

      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-togger="collapse" data-target=".nav-collapse">
              <span class="icon-th-list"></span>
            </a>

            <a href="#" class="brand"> GrowingTree </a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li id="create" class="active"><a href="#">Create</a></li>
                <li id="login" class="active"><a href="#">Login</a></li>
                <form class="navbar-form" role="search" style="float:left;">
                  <input type="text" class="form-control" placeholder="Search">
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="container-fluid">
        <!-- sidebar nav is static, and common to all -->
        <div class="row-fluid">
          <div class="span3">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header"> Family </li>
                <li>
                  <a class="sidenav-selected" id="sidenav-parents"> Parents</a> 
                </li>
                <li>
                  <a id="sidenav-children"> Children</a> 
                </li>

                <li class="nav-header"> Learning </li>
                <li>
                  <a id="sidenav-courses"> Courses </a>
                </li>
                <li>
                  <a id="sidenav-lectures"> Lectures </a>
                </li>
                
                <li class="nav-header"> Practice </li>
                <li> 
                  <a id="sidenav-homeworks"> Homeworks </a> 
                </li>
                <li>
                  <a id="sidenav-assignments"> Assignments </a>
                </li>
                
                <li class="nav-header"> Social </li>
                <li> 
                  <a id="sidenav-topquestions">Top Questions </a>
                </li>
                <li> 
                  <a id="sidenav-topanswers"> Top Answers </a>
                </li>
                <li> 
                  <a id="sidenav-ask"> Ask Question </a>
                </li>
                <li>
                  <a id="sidenav-answer"> Answer Question </a>
                </li>
                
                <li class="nav-header"> Time Line </li>
                <li> 
                  <a id="sidenav-contributions"> Contributions </a>
                </li>
                <li> 
                  <a id="sidenav-knowledges"> Knowledge </a>
                </li>
                <li> 
                  <a id="sidenav-activities"> Activities </a>
                </li>
                <li> 
                  <a id="sidenav-locations"> Locations </a>
                </li>
              </ul>
            </div> <!-- well sidebar-->
          </div> <!-- span 3 -->
         
          <div class="span9">
            <div class="leaderboard" field="content:leaderboard">
                <h1> Learn, Practice, Develop -- Together ! </h1>
                <h4> Hello Parents, this is the social learning management system for your kids !</h4>
            </div>

            <!-- top things, reddit style, div template content from map value -->
            <div class="topthings" field="content:myassignment">
            </div>

            <!-- container for a list of things [:all :course "course1"] -->
            <div id="topthings"> </div>
          </div>  <!-- end of span9 -->
        </div> <!-- end of row fluid -->
      </div> <!-- end of container fluid, end of homepage-->
    
    </div>

    <!-- thing node div section. fill with parents, courses, lectures, things -->
    <div class="offset0 thing link" template="thing" field="id:id">
      <p class="parent"></p>
      <span class="rank"> 1 </span>
      <div class="midcol unvoted">
        <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
        <div class="score unvoted"> 1234 </div>
        <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
      </div>
      
      <!-- no need to use template, maybe dom append by-idand more concise -->
      <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
        <img src="#" width="70" height="52" alt="">
      </a>

      <!-- no need to use template, maybe dom append by-idand more concise -->
      <div class="entry unvoted" template="thing-entry">
        <p class="title">
          <a class="title" field="content:thing-entry-title,href:entryhref"></a>
          <span class="domain"></span>
        </p>
        <p class="tagline">submitted to this subject by <a href="#">growingtree.com</a> </p>
        <ul class="flat-list buttons">
          <li class="first">
            <a class="comments" href="#">403 comments</a>
          </li>
          <li class="share">
            <div field="class:share-id">
              <span class="share-button toggle" style>
                <a class="option active" href="#">share</a>
              </span>
            </div>
          </li>
          <li class="share">
            <div field="class:assign-id">
              <span class="share-button toggle" style>
                <a class="option active" href="#">assign to</a>
              </span>
            <div>
          </li>
        </ul>
        <div class="child"></div>
        <div class="clearleft"></div>
      </div>
    </div>

    <!-- the action div with assignment form, no field needs to render it -->
    <div class='action-bar' template="assignment-form">
      <form class='assignment-form' style="float:left;">
        <input id="assign-to" type="text" placeholder='assign to'>
        <input id="assign-hint" type="text" placeholder='hints'>
        <button class='assign-button' id="assignment-button" type="submit"> Assign </button>
      </form>
    </div>


    <!-- login template, should use _include -->
    <div class="container login" template="login" field="id:id">
      <div class="row">
        <div class="center span4 well">
          <h3> Welcome to GrowingTree</h3>
         
          <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
          </div>

          <form method="POST" action="" accept-charset="UTF-8">
            <input type="text" id="login-name" class="span4" placeholder="Username" />

            <input type="password" id="login-pass" class="span4"  placeholder="Password" />
            
            <label class="checkbox">
              <input type="checkbox" name="remember" value="1" /> Remember Me
            </label>
          
            <button id="login-button" type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
          </form>
        </div>
      </div>

      <p class="text-center"> Copyright 2013 - GrowingTree </p>
    </div>


    <!--
      # Whenever we add a new message, make sure to fire this:
      $('.chat-frame').scrollTop($('.chat-frame').height());
     -->
  </div>

</_within>
