<_within file="application.html">

  <div id="content">

<!--     <div class="row-fluid" template="login" field="id:id">
      <h1>Welcome to GrowingTree</h1>
      <div class="span4"> Login Name </div>
      <div class="span8">
        <input type="text" id="login-name" value="name" field="value:name"><br>
      </div>
      <div class="span4"> Login Password </div>
      <div class="span8">
        <input type="text" id="login-pass" value="pass" field="value:pass"><br>
      </div>
      <button class="btn" id="login-button">Login</button>
    </div>
 -->
    <section>
    <div class="container login" template="login" field="id:id">
        <div class="row ">
            <div class="center span4 well">
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
                </div>
                <form method="POST" action="" accept-charset="UTF-8">
                  <input type="text" id="login-name" class="span4" value="name" field="value:name" placeholder="Username" />

                  <input type="password" id="login-pass" class="span4" value="pass" field="value:pass" placeholder="Password" />
                  
                  <label class="checkbox">
                    <input type="checkbox" name="remember" value="1" /> Remember Me
                  </label>
                
                  <button id="login-button" type="submit" name="submit" class="btn btn-primary btn-block">Sign in</button>
                </form>
            </div>
        </div>
    </div>

    <p class="text-center muted ">&copy; Copyright 2013 - GrowingTree </p>
    </section>
    <!-- Main Container Ends -->
     
    <!-- Forgot Password Model Box -->
    <div id="forgot" class="modal hide fade in" style="display: none; ">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Forgot Password</h3>
      </div>
     
      <div class="modal-body">
        <p>Enter your username to reset the password</p>
        <form>
          <div class="controls controls-row">
            <input id="name" name="name" type="text" class="span3" placeholder="Name" />
          </div>
       
        </form>
      </div>
    
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Submit</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
     
    <!-- Contact Us Model Box -->
    <div id="contact" class="modal hide fade in" style="display: none; ">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Contact Us</h3>
      </div>
      
      <div class="modal-body">
        <form>
          <div class="controls controls-row">
              <input id="name" name="name" type="text" class="span3" placeholder="Name" />
          </div>
     
           <div class="controls controls-row">
             <input id="email" name="email" type="email" class="span3" placeholder="Email address" />
           </div>
     
          <div class="controls">
            <textarea id="message" name="message" class="span5" placeholder="Your Message" rows="5"></textarea>
          </div>
       
        </form>
      </div>
       
      <div class="modal-footer">
        <a href="#" class="btn btn-primary">Submit</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>


  </div>  <!-- end of content -->
</_within>
