<_within file="application.html">

<div id="content">

  <!-- 
    create new parent form
  -->
  <div template="parent" field="id:id">
    <form class="form-horizontal parent-form">
      <fieldset>
        <legend>Create parent</legend>
        
        <div class="control-group">
          <label class="control-label" for="person-name">Name</label>
          <div class="controls">
            <input id="person-name" type="text" class="input-xlarge" placeholder="user name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-lname">Last Name</label>
          <div class="controls">
            <input id="person-lname" type="text" class="input-xlarge" placeholder="user last name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-type">Type</label>
          <div class="controls">
            <select id="person-type">
              <option value="M">Dad</option>
              <option value="F">Mom</option>
              <option value="T">Teacher</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-email">Email</label>
          <div class="controls">
            <input id="person-email" type="text" class="input-xlarge" placeholder="user email">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-phone">Phone</label>
          <div class="controls">
            <input id="person-phone" type="text" class="input-xlarge" placeholder="user phone number">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-url">Social Network </label>
          <div class="controls">
            <input id="person-url" type="text" class="input-xlarge" id="facebook id, twitter id, etc">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-im">Jabber Id</label>
          <div class="controls">
            <input id="person-im" type="text" class="input-xlarge" placeholder="Instant Messenger Id">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-address">Address</label>
          <div class="controls">
            <input id="person-address" type="text" class="input-xlarge" placeholder="users address ">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-status">Status</label>
          <div class="controls">
            <label class="checkbox">
              <input id="person-status" type="checkbox" value="active" checked="active">Mark as Active
            </label>
          </div>
        </div>

        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>


  <!-- 
    create new child form
  -->
  <div template="child" field="id:id">
    <form class="form-horizontal child-form">
      <fieldset>
        <legend>Create Child</legend>
        
         <div class="control-group">
          <label class="control-label" for="person-name">Name</label>
          <div class="controls">
            <input id="person-name" type="text" class="input-xlarge" placeholder="user name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-lname">Last Name</label>
          <div class="controls">
            <input id="person-lname" type="text" class="input-xlarge" placeholder="user last name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-type">Type</label>
          <div class="controls">
            <select id="person-type">
              <option value="M">Son</option>
              <option value="F">Daughter</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-email">Email</label>
          <div class="controls">
            <input id="person-email" type="text" class="input-xlarge" placeholder="user email">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-phone">Phone</label>
          <div class="controls">
            <input id="person-phone" type="text" class="input-xlarge" placeholder="user phone number">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-url">Social Network </label>
          <div class="controls">
            <input id="person-url" type="text" class="input-xlarge" id="facebook id, twitter id, etc">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-im">Jabber Id</label>
          <div class="controls">
            <input id="person-im" type="text" class="input-xlarge" placeholder="Instant Messenger Id">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-address">Address</label>
          <div class="controls">
            <input id="person-address" type="text" class="input-xlarge" placeholder="users address ">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="person-status">Status</label>
          <div class="controls">
            <label class="checkbox">
              <input id="person-status" type="checkbox" value="active" checked="active">Mark as Active
            </label>
          </div>
        </div>

        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>

      </fieldset>
    </form>
  </div>


  <!-- 
    create new family form
  -->
  <div template="family" field="id:id">
    <form class="form-horizontal family-form">
      <fieldset>
        <legend>Create family</legend>
        
        <div class="control-group">
          <label class="control-label" for="family-name">Name</label>
          <div class="controls">
            <input id="family-name" type="text" class="input-xlarge" placeholder="family name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="family-parent">Parent Name</label>
          <div class="controls">
            <input id="family-parent" type="text" class="input-xlarge" placeholder="parent name of the family">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="family-child">Child Name</label>
          <div class="controls">
            <input id="family-child" type="text" class="input-xlarge" placeholder="child name of the family">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="family-address">Address</label>
          <div class="controls">
            <input id="family-address" type="text" class="input-xlarge" placeholder="family address">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="family-url">Url</label>
          <div class="controls">
            <input id="family-url" type="text" class="input-xlarge" placeholder="url of the family">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="family-email">Email</label>
          <div class="controls">
            <input id="family-email" type="text" class="input-xlarge" placeholder="family email" >
          </div>
        </div>

        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
        
      </fieldset>
    </form>
  </div>


  <!-- 
    create new course form
  -->
  <div template="course" field="id:id">
    <form class="form-horizontal course-form">
      <fieldset>

        <legend>Create Course</legend>

        <div class="control-group">
          <label class="control-label" for="course-title">Title</label>
          <div class="controls">
            <input id="course-title" type="text" class="input-xlarge" placeholder="the title of course ...">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="course-author">Author</label>
          <div class="controls">
            <input id="course-author" type="text" class="input-xlarge" placeholder="the author, default to current user">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="course-type">Type</label>
          <div class="controls">
            <select id="course-type">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="reading">Reading/Writing</option>
              <option value="art">Art</option>
              <option value="sports">Sports</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="course-content">Content</label>
          <div class="controls">
             <input id="course-content" type="text" class="input-xlarge" placeholder="brief content of the this course">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="course-url">Url</label>
          <div class="controls">
            <input id="course-url" type="text" class="input-xlarge" placeholder="growingtrees.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="course-email">Group Email</label>
          <div class="controls">
            <input id="course-email" type="text" class="input-xlarge" placeholder="course@group.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="course-wiki">Wiki</label>
          <div class="controls">
          <input id="course-wiki" type="text" class="input-xlarge" placeholder="course/wiki" >
          </div>
        </div>
       
        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>


  <!-- 
    create new lecture form
  -->
  <div template="lecture" field="id:id">
    <form class="form-horizontal lecture-form">
      <fieldset>

        <legend>Create lecture</legend>

        <div class="control-group">
          <label class="control-label" for="lecture-title">Title</label>
          <div class="controls">
            <input id="lecture-title" type="text" class="input-xlarge" placeholder="the title of lecture ...">
            <!-- <p class="help-block">The title of the lecture</p> -->
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-author">Author</label>
          <div class="controls">
            <input id="lecture-author" type="text" class="input-xlarge" placeholder="the author, default to current user">
            <!-- <p class="help-block">The author of the lecture</p> -->
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-course">Course</label>
          <div class="controls">
            <input id="lecture-course" type="text" class="input-xlarge" placeholder="course title this lecture belong to, default to current course">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-type">Type</label>
          <div class="controls">
            <select id="lecture-type">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="reading">Reading/Writing</option>
              <option value="art">Art</option>
              <option value="sports">Sports</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-content">Content</label>
          <div class="controls">
            <input id="lecture-content" type="text" class="input-xlarge" placeholder="brief content of the this lecture">
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="lecture-start">Start Time</label>
          <div id="lecture-start-picker" class="input-append date">    
            <input id="lecture-start" type="text" class="input-xlarge" placeholder="hh:mm:ss MM/dd/yyyy" data-format="hh:mm:ss MM/dd/yyyy">
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-end">End Time</label>
          <div id="lecture-end-picker" class="input-append date">    
            <input id="lecture-end" type="text" class="input-xlarge" placeholder="hh:mm:ss MM/dd/yyyy" data-format="hh:mm:ss MM/dd/yyyy">
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-seqno">Lecture Number</label>
          <div class="controls">
            <input id="lecture-seqno" type="text" class="input-xlarge" placeholder="lecture sequence No.">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-url">Url</label>
          <div class="controls">
            <input id="lecture-url" type="text" class="input-xlarge" placeholder="growingtrees.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-email">Group Email</label>
          <div class="controls">
            <input id="lecture-email" type="text" class="input-xlarge" placeholder="lecture@group.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="lecture-wiki">Wiki</label>
          <div class="controls">
            <input id="lecture-wiki" type="text" class="input-xlarge" placeholder="lecture/wiki" >
          </div>
        </div>
       
        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>

  <!-- question -->
  <div template="question" field="id:id">
    <form class="form-horizontal question-form">
      <fieldset>

        <legend>Create Question</legend>

        <div class="control-group">
          <label class="control-label" for="question-title">Title</label>
          <div class="controls">
            <input id="question-title" type="text" class="input-xlarge" placeholder="the title of question ...">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="question-author">Author</label>
          <div class="controls">
            <input id="question-author" type="text" class="input-xlarge" placeholder="the author, default to current user">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="question-type">Type</label>
          <div class="controls">
            <select id="question-type">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="reading">Reading/Writing</option>
              <option value="art">Art</option>
              <option value="sports">Sports</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="question-content">Content</label>
          <div class="controls">
            <input id="question-content" type="text" class="input-xlarge" placeholder="brief content of the this question">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="question-url">Url</label>
          <div class="controls">
            <input id="question-url" type="text" class="input-xlarge" placeholder="growingtrees.com">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="question-difficulty">Difficulty</label>
          <div class="controls">
            <input id="question-difficulty" type="text" class="input-xlarge"  placeholder="question difficulty level">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="question-tag">Tag</label>
          <div class="controls">
            <input id="question-tag" type="text" class="input-xlarge" placeholder="tags...">
          </div>
        </div>

        
        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>

  <!-- group -->
  <div template="group" field="id:id">
    <form class="form-horizontal group-form">
      <fieldset>

        <legend>Create Group</legend>

        <div class="control-group">
          <label class="control-label" for="group-title">Title</label>
          <div class="controls">
            <input id="group-title" type="text" class="input-xlarge" placeholder="group title">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="group-author">Admin User</label>
          <div class="controls">
            <input id="group-author" type="text" class="input-xlarge" placeholder="the admin user of the group" >
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="group-type">Type</label>
          <div class="controls">
            <select id="group-type">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="reading">Reading/Writing</option>
              <option value="art">Art</option>
              <option value="sports">Sports</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="group-email">Email</label>
          <div class="controls">
            <input id="group-email" type="text" class="input-xlarge" placeholder="group email">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="group-url">Url</label>
          <div class="controls">
            <input id="group-url" type="text" class="input-xlarge" placeholder="group url">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="group-wiki">Wiki</label>
          <div class="controls">
            <input id="group-wiki" type="text" class="input-xlarge" placeholder="group wiki page">
          </div>
        </div>

        <div class="usertext-buttons control-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button id="cancel" type="button" class="btn">Cancel</button>
        </div>
        
      </fieldset>
    </form>
  </div>

  <!-- comments -->
  <div template="comments" field="id:id">
    <form class="form-horizontal add-comments-form">
      <textarea id="comments-title" rows="3" cols="1" name="text" class="textarea" style="width:98%;height:60px;"></textarea>
    
      <div class="usertext-buttons">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>

  <!-- answer -->
  <div template="answer" field="id:id">
    <form class="form-horizontal add-answer-form">
      <textarea id="answer-title" rows="3" cols="1" name="text" class="textarea" style="width:98%;height:60px;"></textarea>
    
      <div class="usertext-buttons">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>

</div>
</_within>
