<_within file="application.html">

<div id="content">

  <div template="newthing" field="id:id">
    <form id="newthing-form" class="form-horizontal">
      <fieldset>
        <legend filed="content:newtype"></legend>

        <div class="control-group">
          <label class="control-label" for="newthingp-type">Type</label>
          <div class="controls">
            <select id="newthing-type">
              <option>course</option>
              <option>lecture</option>
              <option>homework</option>
              <option>assignment</option>
            </select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-subject">Subject</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newthing-subject">
            <p class="help-block">The subject, math science reading coding art gym reporting game</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-title">Title</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newthing-title">
            <p class="help-block">The title of the new thing</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-topic">Topic</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newthing-topic">
            <p class="help-block">The topic of the lecture</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-content">Content</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newthing-content">
            <p class="help-block">The content of the new thing</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-byme">Create By Me</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="newthing-byme">Mark Me as the author>
            </label>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-uri">Content Link</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newthing-uri">
            <p class="help-block">The content link of the new thing</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="newthing-videouri">Video Link</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newthing-videouri">
            <p class="help-block">The video link of the new thing</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="textarea">Comments</label>
          <div class="controls">
            <textarea class="input-xlarge" id="textarea" rows="2"></textarea>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">  Save  </button>
          <button class="btn">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>

</div>
</_within>
