

<div id="content">

  <!-- 
    parent thing node div 
  -->
  <div class="offset0 thing link" template="thing-parent" field="id:id">
    <p class="parent"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      
      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>

      <p class="subtitle">
        <a field="content:phone"></a>
      </p>
      <p class="subtitle">
        <a field="content:email"></a>
      </p>

      <p class="tagline">
        Joined since <time> Aug 2013 </time> 
      </p>
      
      <!-- tag line sublink buttons -->
      <ul class="flat-list buttons">

        <!-- child -->
        <li class="share">
          <div field="class:child-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">children</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-child-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add child</a>
            </span>
          <div>
        </li>

        <!-- assignments -->
        <li class="share">
          <div field="class:assignment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assignments</a>
            </span>
          <div>
        </li>

        <!-- likes -->
        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:follow-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">followers</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-follow-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">follow me</a>
            </span>
          <div>
        </li>

        <!-- comments lik -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:group-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">groups</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-group-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">join group</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:activity-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">activities</a>
            </span>
          </div>
        </li>

      </ul>
      <div class="child"></div>
      <div class="clearleft"></div>
    </div>
  </div>


  <!-- 
    child thing node div 
  -->
  <div class="offset0 thing link" template="thing-child" field="id:id">
    <p class="child"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>

      <p class="subtitle">
        <a field="content:phone"></a>
      </p>
      <p class="subtitle">
        <a field="content:email"></a>
      </p>

      <p class="tagline">
        Joined since <time> Aug 2013 </time> 
      </p>


      <ul class="flat-list buttons">
        <!-- parent -->
        <li class="share">
          <div field="class:parent-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">parents</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-parent-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add parent</a>
            </span>
          <div>
        </li>

        <!-- courses -->
        <li class="share">
          <div field="class:course-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">courses</a>
            </span>
          <div>
        </li>

        <!-- assignments -->
        <li class="share">
          <div field="class:assignment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assignments</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enrollments</a>
            </span>
          </div>
        </li>
        
         <li class="share">
          <div field="class:activity-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">activities</a>
            </span>
          </div>
        </li> 

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:follow-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">followers</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:schoolclass-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">classmates</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-schoolclass-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">join class</a>
            </span>
          </div>
        </li>

        <!-- comments lik -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:activity-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">activities</a>
            </span>
          </div>
        </li>

      </ul>
      <div class="child"></div>
      <div class="clearleft"></div>
    </div>
  </div>

  
  <!-- 
    course thing node div 
  -->
  <div class="offset0 thing link" template="thing-course" field="id:id">
    <p class="course"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template -->
    <div class="entry unvoted" template="thing-entry">

      <p class="subtitle">
        <span class="tagline"> Offered by </span>
        <a field="content:author-name"></a>
      </p>

      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>

      <p class="subtitle">
        <span style="margin-left:1em" field="content:thing-content"></span>
      </p>

      <ul class="flat-list buttons">
        <!-- lecture -->
        <li class="share">
          <div field="class:lecture-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">lectures</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-lecture-class">
            <span class="share-button" style>
              <a class="option active" href="#">add lecture</a>
            </span>
          <div>
        </li>

        <!-- question -->
        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">questions</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-question-class">
            <span class="share-button" style>
              <a class="option active" href="#">add question</a>
            </span>
          <div>
        </li>

        <!-- comments like -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" field="content:numcomments">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <!-- share -->
        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:schedule-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">schedule</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enrollment</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enroll</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:assignto-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:similar-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">similar courses</a>
            </span>
          <div>
        </li>

      </ul>

      <div class="child-forms">
        <!-- assign to form, hide first -->
        <div field="id:id,class:assign-form-class">  
          <form id="assign-form" class="assign-form hide" style="">
            <input id="assignto-name" type="text" style="display:block" placeholder="assign to">
            <input id="assignto-hint" type="text" style="display:block"placeholder="hints">
            
            <div id="assignto-end-picker" class="input-append date">
              <input id="assignto-end" type="text" placeholder="due time hh:mm:ss MM/dd/yyyy" data-format="hh:mm:ss MM/dd/yyyy">
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
              </span>
            </div>
          
            <div class="usertext-buttons">
              <button type="submit" class="btn btn-primary assign-button">Assign</button>
            </div>
          </form>
        </div>
      </div>

      <div class="clearleft"></div>
    </div>
  </div>

  
  <!-- 
    lecture thing node div 
  -->
  <div class="offset0 thing link" template="thing-lecture" field="id:id">
    <p class="lecture"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="subtitle">
        <span class="tagline"> No. </span>
        <a field="content:seqno"></a>
        <span class="tagline">  by </span>
        <a field="content:author-name"></a>
      </p>

      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>

      <p class="subtitle">
        <span style="margin-left:1em" field="content:thing-content"></span>
      </p>

      <p class="tagline">
        <span field="content:start"></span>
        <span> -- <span>
        <span field="content:end"></span>
      </p>

      <!-- action keys -->
      <ul class="flat-list buttons">
        <li class="share">
          <div field="class:course-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">course</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">questions</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add question</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:schedule-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">schedule</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enrollments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enroll to</a>
            </span>
          </div>
        </li>

        <!-- comments like -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" field="content:numcomments">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>
        
        <li class="share">
          <div field="class:assignto-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          <div>
        </li>
        
      </ul>
           
      <div class="child-forms">
        <!-- assign to form, hide first -->
        <div field="id:id,class:assign-form-class">  
          <form id="assign-form" class="assign-form hide" style="">
            <input id="assignto-name" type="text" style="display:block" placeholder="assign to">
            <input id="assignto-hint" type="text" style="display:block"placeholder="hints">
            
            <div id="assignto-end-picker" class="input-append date">    
              <input id="assignto-end" type="text" placeholder="due time" data-format="hh:mm:ss MM/dd/yyyy">
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
              </span>
            </div>
          
            <div class="usertext-buttons">
              <button type="submit" class="btn btn-primary assign-button">Assign</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clearleft"></div>
    </div>
  </div>

  

  <!-- 
    question node div 
  -->
  <div class="offset0 thing link" template="thing-question" field="id:id">
    <p class="question"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="56" alt="">
    </a>

    <!-- no need to use template -->
    <div class="entry unvoted" template="thing-entry">

      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="subtitle">
        <span style="margin-left:1em" field="content:thing-content"></span>
      </p>

      <p class="subtitle">
        <span class="tagline">  difficulty : </span>
        <span field="content:difficulty"></span>
      </p>


      <ul class="flat-list buttons">
        <li class="share">
          <div field="class:lecture-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">lectures</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:assignment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assignments</a>
            </span>
          <div>
        </li>

        <!-- comments -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" field="content:numcomments">comments</a>
            </span>
          </div>
        </li>
 
        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:share-link-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:assignto-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:similar-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">similar question</a>
            </span>
          <div>
        </li>

      </ul>

      <div class="child-forms">
        <!-- assign to form, hide first -->
        <div field="id:id,class:assign-form-class">  
          <form id="assign-form" class="assign-form hide" style="">
            <input id="assignto-name" type="text" style="display:block" placeholder="assign to">
            <input id="assignto-hint" type="text" style="display:block"placeholder="hints">
            
            <div id="assignto-end-picker" class="input-append date"> 
              <input id="assignto-end" type="text" placeholder="due time" data-format="hh:mm:ss MM/dd/yyyy">
              <span class="add-on">
                <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                </i>
              </span>
            </div>
          
            <div class="usertext-buttons">
              <button type="submit" class="btn btn-primary assign-button">Assign</button>
            </div>
          </form>
        </div>
      </div>
      
      <div class="clearleft"></div>
    </div>
  </div>

  

  <!-- 
    assignment node div 
  -->
  <div class="offset0 thing link" template="thing-assignment" field="id:id">
    <p class="assignment"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="subtitle">
        <span class="tagline"> assigned by </span>
        <a field="content:author-name"></a> 
        <span class="tagline"> at </span>
        <span field="content:start"></span>
      </p>
 
      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>

      <p class="subtitle">
        <span> Due at </span>
        <span field="content:end"></span>
      </p>    

      <ul class="flat-list buttons">
        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">question</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:answer-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">answers</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:submit-answer-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">submit answer</a>
            </span>
          </div>
        </li>

        <li class="first">
          <div field="class:hint-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">hint</a>
            </span>
          </div>
        </li>

        <!-- comments -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" field="content:numcomments">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>
       
        <li class="share">
          <div field="class:similar-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">similar assignments</a>
            </span>
          <div>
        </li>

      </ul>
      
      <div class="child-forms">
        <!-- answer form, wrapper div with form-thing-id hide first -->
        <div field="id:id,class:answer-form-class">
          <form id="answer-form" class="answer-form hide" style="">
            <textarea id="answer-title" rows="3" cols="1" name="text"></textarea>
            <div class="usertext-buttons">
              <button type="submit" class="btn btn-primary answer-button">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clearleft"></div>
    </div>
  </div>

  

  <!-- 
    answer node div 
  -->
  <div class="offset0 thing link" template="thing-answer" field="id:id">
    <p class="answer"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="subtitle">
        <a field="content:author-name"></a>
        <span class="tagline"> submitted answer to </span>
        <a class="subtitle" field="content:origin-title,href:entryhref"></a>
      </p>

      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
      </p>

      <p class="subtitle">  
        <span> at </span>
        <span field="content:start"></span>
      </p>

      <p class="subtitle">  
        <span class="tagline"> Score </span>
        <span field="content:score"></span>
      </p>
     
      <ul class="flat-list buttons">
        <li class="share">
          <div field="class:assignment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assignment</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">question</a>
            </span>
          <div>
        </li>

        <!-- comments -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>

        <li class="first">
          <div field="class:grade-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">grade</a>
            </span>
          </div>
        </li>

      </ul>

      <div class="child-forms">
        <div field="id:id,class:grade-form-class">
          <form id="grade-form" class="grade-form hide" style="">
            <input id="grade-score" type="text" placeholder="score">
            <input id="grade-comments" type="text" placeholder="comments">
            <div class="usertext-buttons">
              <button type="submit" class="btn btn-primary grade-button">Grade</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clearleft"></div>
    </div>
  </div>

  

  <!-- 
    comments thing node div 
  -->
  <div class="thing comment" template="thing-comments" field="id:id">
    <p class="comments"></p>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">

      <p class="tagline">
        <a field="content:author-name"></a>
        <span class="userattrs"></span>
        <span class="score dislikes">1021 points</span>
        <span field="content:comments-time">2 hours</span> ago
      </p>
      
      <div class="usertext-body">
        <a class="title" field="content:thing-title,href:entryhref"></a>
      </div>

      <ul class="flat-list buttons">

        <!-- lecture -->
        <li class="first">
          <a class="option active" href="#">permalink</a>
        </li>

        <li class="first">
          <a class="option active" href="#">give tips</a>
        </li>
   
        <li class="share">
          <div field="class:reply-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">reply</a>
            </span>
          <div>
        </li>
      </ul>  <!-- end of flat-list buttons for action -->
    </div>

    <div class="child">
      <!-- reply form, hide first -->
      <div field="id:id,class:reply-form-class">
        <form id="reply-form" class="reply-form comment entry usertext-edit hide" style>
          <textarea id="comments-title" class="" style="width:90%; height:100px;"></textarea>
          <button class="reply-button" type="submit"> Save </button>
        </form>
      </div>
    </div>

    <!-- comemnts tree div block, named by thingtype-tree -->
    <div id="comments-tree" class="child"></div>
    
    <div class="clearleft"></div>
  </div>



  <!-- 
    like thing node div 
  -->
  <div class="offset0 thing link" template="thing-like" field="id:id">
    <p class="like"></p>
    <div class="midcol unvoted">
      <span class="rank" field="content:rank"> 1 </span>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">

      <p class="title">
        <a class="title" field="content:thing-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>

      <p class="tagline">
        <a field="content:author-name"></a>
        <span class="userattrs"></span>
        <span class="score dislikes">1021 points</span>
        <span> liked it </span>
        <span field="content:comments-time">2 hours</span>
        <span> ago </span>
      </p>

      <p class="title">
        <a class="title" field="content:origin-title,href:originhref"></a>
        <span class="domain"></span>
      </p>

      <ul class="flat-list buttons">
        <!-- lecture -->
        <li class="first">
          <a class="option active" href="#">permalink</a>
        </li>

        <li class="share">
          <div field="class:origin-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">origin</a>
            </span>
          <div>
        </li>
      </ul>  <!-- end of flat-list buttons for action -->
    </div>

    <div class="child"></div>
    <div class="clearleft"></div>
  </div>



  <!--
    timeline thing node div 
  -->
  <div class="offset0 thing link" template="thing-timeline" field="id:id">
    <p class="timeline"></p>
    <div class="midcol unvoted">
      <span class="rank" field="content:rank"> 1 </span>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>


    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a field="content:author-name"></a>
        <span class="tagline"> created </span>
        <a class="title" field="content:type,href:thingref"></a>
      </p>

      <p class="title">
        <a class="title" field="content:origin-title,href:entryhref"></a>
      </p>

      <p class="tagline">  
        <span> At</span>
        <span field="content:txtime"></span>
      </p>

      <ul class="flat-list buttons">
        <!-- lecture -->
        <li class="first">
          <a class="option active" href="#">permalink</a>
        </li>

        <li class="share">
          <div field="class:details-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">details</a>
            </span>
          <div>
        </li>
      </ul>  <!-- end of flat-list buttons for action -->
    </div>

    <div class="child"></div>
    <div class="clearleft"></div>
  </div>



  <!-- 
    Search node
  -->
  <div class="offset0 thing link" template="thing-search" field="id:id">
    <p class="search"></p>
    <div class="midcol unvoted">
      <span class="rank" field="content:rank"> 1 </span>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img field="src:thumbhref" width="70" height="52" alt="">
    </a>

    <div class="entry unvoted" template="thing-entry">  

      <p class="subtitle">
        <span class="tagline"> found </span>
        <a field="content:type"></a>
        <span class="tagline"> match </span>
        <a field="content:searchkey"></a>
        <span class="tagline"> text </span>
        <a field="content:text"></a>
      </p>

      <p class="title">
        <a class="title" field="content:origin-title,href:entryhref"></a>
      </p>

      <ul class="flat-list buttons">
        <!-- lecture -->
        <li class="first">
          <a class="option active" href="#">permalink</a>
        </li>

        <li class="share">
          <div field="class:details-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">details</a>
            </span>
          <div>
        </li>
      </ul>  <!-- end of flat-list buttons for action -->
    </div>

    <div class="child"></div>
    <div class="clearleft"></div>
  </div>


  <!-- 
    the assign form action div
  -->
  <div template="assign-form" field="class:assign-form-class">
    <form class="assign-form" style="float:left;">
      <input id="assignto-name" type="text" placeholder="assign to">
      <input id="assignto-hint" type="text" placeholder="hints">
      <input id="assignto-end" type="text" placeholder="due time">
      <button class="assign-button" type="submit"> Assign </button>
    </form>
  </div>

 
  <!-- 
    thing details div 
  -->
  <div class="offset0" template="thing-details" field="id:id">
    <div id="thing-root"> 
    </div>
    <div style="height:2px;background:#ff0000;"></div>
    <div id="new-subthings"></div>
    <div style="height:2px;background:#ff0000;"></div>
    <div id="add-comments"></div>
    <div style="height:2px;background:#ff0000;"></div>
    <div id="subthings-list">
    </div>
  </div>

</div>
</_within>
