

<div id="content">

  <!-- parent thing node div -->
  <div class="offset0 thing link" template="thing-parent" field="id:id">
    <p class="parent"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img src="#" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-entry-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="tagline">Joined since <time> Aug 2013 </time> </p>
      
      <!-- tag line sublink buttons -->
      <ul class="flat-list buttons">

        <!-- child -->
        <li class="share">
          <div field="class:child-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">children</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-child-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add child</a>
            </span>
          <div>
        </li>

        <!-- assignments -->
        <li class="share">
          <div field="class:assignment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assignments</a>
            </span>
          <div>
        </li>

        <!-- likes -->
        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:follow-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">followers</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-follow-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">follow me</a>
            </span>
          <div>
        </li>

        <!-- comments lik -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:group-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">groups</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-group-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">join group</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:activity-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">activities</a>
            </span>
          </div>
        </li>

      </ul>
      <div class="child"></div>
      <div class="clearleft"></div>
    </div>
  </div>

  <!-- child thing node div -->
  <div class="offset0 thing link" template="thing-child" field="id:id">
    <p class="child"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img src="#" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-entry-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="tagline">Joined since <time> Aug 2013 </time> </p>

      <ul class="flat-list buttons">

        <!-- parent -->
        <li class="share">
          <div field="class:parent-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">parents</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-parent-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add parent</a>
            </span>
          <div>
        </li>

        <!-- courses -->
        <li class="share">
          <div field="class:course-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">courses</a>
            </span>
          <div>
        </li>

        <!-- assignments -->
        <li class="share">
          <div field="class:assignment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assignments</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enrollments</a>
            </span>
          </div>
        </li>
        
         <li class="share">
          <div field="class:activity-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">activities</a>
            </span>
          </div>
        </li> 

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:follow-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">followers</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:schoolclass-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">classmates</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-schoolclass-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">join class</a>
            </span>
          </div>
        </li>

        <!-- comments lik -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:activity-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">activities</a>
            </span>
          </div>
        </li>

      </ul>
      <div class="child"></div>
      <div class="clearleft"></div>
    </div>
  </div>

  <!-- course thing node div -->
  <div class="offset0 thing link" template="thing-course" field="id:id">
    <p class="course"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>


    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img src="#" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-entry-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="tagline">Offered by <a href="#">growingtree.com</a> </p>

      <ul class="flat-list buttons">

        <!-- lecture -->
        <li class="share">
          <div field="class:lecture-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">lectures</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-lecture-class">
            <span class="share-button" style>
              <a class="option active" href="#">add lecture</a>
            </span>
          <div>
        </li>

        <!-- question -->
        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">questions</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-question-class">
            <span class="share-button" style>
              <a class="option active" href="#">add question</a>
            </span>
          <div>
        </li>

        <!-- comments lik -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-comments-class">
            <span class="share-button" style>
              <a class="option active" href="#">add comments</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <!-- share -->
        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:schedule-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">schedule</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enrollment</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enroll to</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:assignto-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:similar-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">similar courses</a>
            </span>
          <div>
        </li>

      </ul>

      <div class="child-forms">
        <!-- assign to form, hide first -->
        <div field="id:id,class:assign-form-class">
          <form id="assign-form" class="assign-form hide" style="float:left;">
            <input id="assignto-name" type="text" placeholder="assign to">
            <input id="assignto-hint" type="text" placeholder="hints">
            <input id="assignto-end" type="text" placeholder="due time">
            <button class="assign-button" type="submit"> Assign </button>
          </form>
        </div>

      </div>
      <div class="clearleft"></div>
    </div>
  </div>

  <!-- lecture thing node div -->
  <div class="offset0 thing link" template="thing-lecture" field="id:id">
    <p class="lecture"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>

    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img src="#" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-entry-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="tagline">submitted by <a href="#">growingtree.com</a> </p>

      <ul class="flat-list buttons">

        <li class="share">
          <div field="class:course-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">course</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">questions</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:add-question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add question</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:schedule-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">schedule</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enrollments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-enrollment-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">enroll to</a>
            </span>
          </div>
        </li>

        <!-- comments like -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:add-comments-class">
            <span class="share-button" style>
              <a class="option active" href="#">add comments</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>
        
        <li class="share">
          <div field="class:assignto-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          <div>
        </li>
        
      </ul>
           
      <div class="child-forms">
        <!-- assign to form, hide first -->
        <div field="id:id,class:assign-form-class">
          <form id="assign-form" class="assign-form hide" style="float:left;">
            <input id="assignto-name" type="text" placeholder="assign to">
            <input id="assignto-hint" type="text" placeholder="hints">
            <input id="assignto-end" type="text" placeholder="due time">
            <button class="assign-button" type="submit"> Assign </button>
          </form>
        </div>
      </div>
      <div class="clearleft"></div>
    </div>
  </div>

  <!-- question node div -->
  <div class="offset0 thing link" template="thing-question" field="id:id">
    <p class="question"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img src="#" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-entry-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="tagline">submitted by <a href="#">growingtree.com</a> </p>

      <ul class="flat-list buttons">

        <li class="share">
          <div field="class:lecture-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">lectures</a>
            </span>
          <div>
        </li>

        <!-- comments -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>
 
        <li class="share">
          <div field="class:add-comments-class">
            <span class="share-button" style>
              <a class="option active" href="#">add comments</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:share-link-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:assignto-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">assign to</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:similar-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">similar question</a>
            </span>
          <div>
        </li>

      </ul>

      <div class="child-forms">
        <!-- assign to form, hide first -->
        <div field="id:id,class:assign-form-class">
          <form id="assign-form" class="assign-form hide" style="float:left;">
            <input id="assignto-name" type="text" placeholder="assign to">
            <input id="assignto-hint" type="text" placeholder="hints">
            <input id="assignto-end" type="text" placeholder="due time">
            <button class="assign-button" type="submit"> Assign </button>
          </form>
        </div>
      </div>
      <div class="clearleft"></div>
    </div>
  </div>

  <!-- assignment node div -->
  <div class="offset0 thing link" template="thing-assignment" field="id:id">
    <p class="assignment"></p>
    <span class="rank" field="content:rank"> 1 </span>
    <div class="midcol unvoted">
      <div class="arrow up" role="button" arial-label="upvote" tabindex="0"></div>
      <span class="score unvoted" field="content:upvote">12</span>
      <div class="arrow down" role="button" arial-label="downvote" tabindex="0"></div>
    </div>
    
    <!-- no need to use template, maybe dom append by-idand more concise -->
    <a class="thumbnail" template="thing-thumbnail" field="href:thumbhref">
      <img src="#" width="70" height="52" alt="">
    </a>

    <!-- no need to use template, maybe dom append by-idand more concise -->
    <div class="entry unvoted" template="thing-entry">
      <p class="title">
        <a class="title" field="content:thing-entry-title,href:entryhref"></a>
        <span class="domain"></span>
      </p>
      <p class="tagline">submitted by <a href="#">growingtree.com</a> </p>

      <ul class="flat-list buttons">

        <li class="share">
          <div field="class:question-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">question</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:answer-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">all answers</a>
            </span>
          <div>
        </li>

        <li class="first">
          <div field="class:hint-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">hint</a>
            </span>
          </div>
        </li>

        <!-- comments -->
        <li class="first">
          <div field="class:comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">comments</a>
            </span>
          </div>
        </li>

        <li class="first">
          <div field="class:add-comments-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">add comments</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:like-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">likes</a>
            </span>
          </div>
        </li>

        <li class="share">
          <div field="class:share-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">share</a>
            </span>
          </div>
        </li>
        
        <li class="share">
          <div field="class:add-answer-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">submit answer</a>
            </span>
          <div>
        </li>

        <li class="share">
          <div field="class:similar-class">
            <span class="share-button toggle" style>
              <a class="option active" href="#">similar assignments</a>
            </span>
          <div>
        </li>

      </ul>
      <div class="child"></div>
      <div class="clearleft"></div>
    </div>
  </div>


  <!-- the assign form action div -->
  <div template="assign-form" field="class:assign-form-class">
    <form class="assign-form" style="float:left;">
      <input id="assignto-name" type="text" placeholder="assign to">
      <input id="assignto-hint" type="text" placeholder="hints">
      <input id="assignto-end" type="text" placeholder="due time">
      <button class="assign-button" type="submit"> Assign </button>
    </form>
  </div>

 
  <!-- thing details div -->
  <div class="offset0" template="thing-details" field="id:id">
    <div id="thing-root"> </div>
    <div style="width:75%;height:2px;background:#ff0000;"></div>
    <div id="new-subthing"> </div>
    <div style="width:75%;height:2px;background:#ff0000;"></div>
    <div id="subthings-list" class="offset1" ></div>
  </div>

</div>
</_within>
